results/
policyfiles/*.lock.json
.kitchen
.kitchen.local.yml
.idea
terraform.tfvars
terraform.tfstate*

habitat_key_files/*
automate_patches/*

.terraform*
.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

